.jshintrc
.project
.idea
.vscode
public/media/
public/docs/
public/bower_components/
log/
coverage/
out
plugins/*
!plugins/pencilblue
!plugins/pencilblue/**
!plugins/ga
!plugins/ga/**
!plugins/portfolio
!plugins/portfolio/**
!plugins/sample
!plugins/sample/**
!plugins/wp_import
!plugins/wp_import/**
!plugins/club-manager/
!plugins/club-manager/**
!plugins/roxburyjk_theme/
!plugins/roxburyjk_theme/**
**/node_modules
**/node_modules/**
**/bower_components/**
config.json
**/.DS_Store
**/dump.rdb

config.js

npm-debug.log
